 .brand-name {
  font-weight: bold;
  color: #162430 ; 
  font-size: 24px;
  line-height: 50px;
  vertical-align: middle;
}

.navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }

.navbar-nav .nav-link {
  font-size: 18px; /* Ukuran teks di menu */
}

.navbar-brand img {
  margin-right: 10px; /* Spasi antara logo dan teks */
}

.navbar-nav .nav-link.active {
    background-color:#3499D5    ; /* Biru */
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
  }
  
  .navbar-nav .nav-link {
    color: #162430    ; /* Warna link default */
  }
  
  .navbar-nav .nav-link:hover {
    color:#162430;    /* Warna link saat hover */
    background-color:#60baee ;
    border-radius: 5px;
  }
  
  .navbar-nav .nav-item {
    margin-left: 15px; /* Jarak antara menu di sebelah kiri */
  }